/* @group Compass */

@import "compass/reset";
@import "compass/css3";

$grey-20 : #ccc;
$grey-40 : #999;
$grey-60 : #666;
$grey-80 : #333;

/* @end */

/* @group Colors */

#color-wrap{
	height: 60px;	
}

.colors{
	color: white;
	width: 20%;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding: 0.5em 0;
}

.grey-20{
	background-color: $grey-20;
}

.grey-40{
	background-color: $grey-40;
}

.grey-60{
	background-color: $grey-60;
}

.grey-80{
	background-color: $grey-80;
}

.black{
	background-color: black;
}

/* @end */

body{
	padding: 50px;
	font-family: "wire";
	color: $grey-20;
}

.see-text{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

hr{
	margin: 20px 0;
	height: 0;
	border: none;
	border-top: 1px dashed $grey-40;
}

/* @group typography */

h1, h2, h3, h4{
	color: $grey-60;
	line-height: 1.1em;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2.5em;
}

h3{
	font-size: 1.5em;
}

h4{
	font-size: 1em;
}

p{
	font-size: 1em;
	line-height: 1.1em;
	margin-bottom: 1em;
}

a{
	color: $grey-60;
	margin: 0 5px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	
	&:before{
		content: "";
		position: absolute;
		top: 0.7em;
		width: 104%;
		height: 0.1em;
		background-color: white;
	}
	
	&:hover{
		color: $grey-80;
	}
	&:active{
		
	}
	&:visited{
	}	
}

b, strong{
	font-weight: bold;
	color: $grey-40;
}

i, em, q, blockquote {
	font-style: italic;
	line-height: 1.12em;
}

i, em, q{
	margin: 0 10px 0 5px;
}

blockquote{
	margin: 0 50px;
}

del{
	text-decoration: line-through;
	position: relative;
	
	&:before{
		content: "";
		position: absolute;
		top: 0.4em;
		width: 100%;
		height: 0.15em;
		background-color: $grey-60;
	}
}
/* @end */

header, nav, section, article, footer, #wrapper{
	padding: 1em;
	color: white;
	
	&b, strong{
		color: $grey-60;
	}
}

header, footer{
	background-color: $grey-20;
}

nav{
	background-color: $grey-40;
}

section, article, #wrapper{
	color: $grey-20;
}

section{
	border: 1px dotted $grey-20;
}

article{
	border: 1px dashed $grey-20;
}

#wrapper{
	border: 1px dashed $grey-80;
}











